* text=auto

*.cs text eol=crlf
*.razor text eol=crlf
*.css text eol=crlf
*.csproj text eol=crlf
*.json text eol=crlf
*.md text eol=crlf
*.xml text eol=crlf
*.yml text eol=crlf
*.yaml text eol=crlf
publish/full/CRMFiloServisKurulum.exe filter=lfs diff=lfs merge=lfs -text
publish/full/CRMFiloServisLisans.exe filter=lfs diff=lfs merge=lfs -text
publish/LisansDesktop/CRMFiloServisLisans.exe filter=lfs diff=lfs merge=lfs -text
